<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "публічні діячі", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Домівка",      root_path %></li>
              <li><%= link_to "Інформація",   info_path %></li>
              <li><%= link_to "Допомога",     help_path %></li>
              <li><%= link_to "Вхід", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>